#!/usr/bin/make -f
# Debian rules for serial-relay (Rust project)

%:
	dh $@

override_dh_auto_build:
	cargo build --release --locked

override_dh_auto_test:
	cargo test --locked

override_dh_auto_install:
	install -D -m 755 target/release/serial-relay \
		debian/serial-relay/usr/bin/serial-relay
